<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Project Summer Test Suite">
            <directory>mysite/tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="SS_TestListener" file="framework/dev/TestListener.php" />
    </listeners>

    <logging>
        <log type="coverage-html" target="/tmp/coverage-html" lowUpperBound="35" highLowerBound="80" showUncoveredFiles="true" />
        <log type="coverage-clover" target="/tmp/coverage-clover.xml" lowUpperBound="35" highLowerBound="80" showUncoveredFiles="true" />
        <log type="junit" target="/tmp/forsyth-junit.xml" logIncompleteSkipped="true" />
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">mysite/code</directory>
        </whitelist>
    </filter>
</phpunit>
